* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    opacity: 0;
}

.animate.active {
    animation: fadeUp 2000ms forwards;
}

.navbar {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: auto;
}

.navbar h2 {
    font-size: 24px;
}

.navbar ul {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/head.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.header .header_content {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header .header_content h2 {
    font-size: 36px;
    color: white;
    width: 50%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 4rem 1.5rem;
    box-sizing: border-box;
    margin: auto;
    column-gap: 50px;
}

.container .content {
    width: 70%;
}

.container .sidebar {
    width: 30%;
}

.sidebar .menu {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.sidebar .menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar .menu .menu_item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.sidebar .menu .menu_item h4 {
    font-size: 18px;
}

.sidebar .menu .menu_item p {
    font-size: 13px;
}

.sidebar .menu .menu_item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.content .about img {
    width: 100%;
    height: 410px;
    object-fit: cover;
}

.content .about div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 50px;
    padding: 20px 0;
}

.content .about div p {
    font-size: 15px;
    text-align: justify;
}

.content .about .about_detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .about .about_detail div {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

.content .about .about_detail div h1 {
    font-size: 36px;
}

.content .interrior {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 4rem 0;
}

.content .interrior img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content .destination {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 20px;
}

.content .destination img {
    width: 100%;
}

.content .destination .destination_detail  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content .destination .destination_detail p {
    font-size: 15px;
}

.content .destination .destination_detail div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;
}